/* 定義按鈕出現位置與形態 */
.button {
  text-decoration: none;
  position: fixed; /*使用固定座標並利用 top, right 定位置*/
  top: 20px;
  right: 25px;
  background-color: rgb(153,192,255); /*按鈕背景顏色, 你可自行調整跟你網頁一致*/
  color: #fff; /*按鈕文字顏色, 你可自行調整跟你網頁一致*/
  padding: .9rem 2.2rem;
  border-radius: 3rem;
  opacity: 0;
  transition: .4s;
  
  /* Modified to 'auto' & added Flexbox so the text fits perfectly */
  width: auto; /*按鈕寛與高, 單位跟你網頁字大小相關*/
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 移到按鈕上放大並產生陰影 */
.button:hover {
  opacity: 1;
  transform: scale(1.3); /*放大1.3倍*/
  transition: 1s;
  box-shadow: 0px 10px 8px 2px rgba(150, 190, 255, 0.7); /*陰影特效*/
}

/* 定義按鈕上文字位置與層級保持最上*/
.button_text {
  position: relative; /*使用相對座標並在底下 z-index 定義放在最上層*/
  z-index: 100;
  font-size: 1.25rem;
}